* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #222;
    position: relative;
    min-height: 100vh;
    background-color: aquamarine;
}

.scaling-svg-container {
    background-color: #777;
    position: relative; 
    height: 100vh; 
    width: 100%; 
    padding: 0;
    padding-bottom: 100%; 
    z-index: 3;
}

.scaling-svg {
    background-color: bisque;
    position: absolute;
    height: 100%;
    /* width: 100%; */
    left: 0;
    top: 0;
}

.casela-map {
    height:100%;
    width: auto;
}

/* svg info window*/
.iw {
    fill: #fff;
    z-index: 5;
}

/* this places the modal 20% from the top on the map and center with a white background*/
.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    min-width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute; /* this definitely needs to change for each map element*/
    top: 30%; /* this also definitely needs to change for each map element because rn it places elements 20% away from the top*/
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
}

/* slightly adjusts the spacing vertically of the elements in the modal box*/
.modal .flex {
    display: flex;
    align-items: center;
}

/* slightly stylistically modifies email input box */
.modal input {
    padding: 0.7rem 1rem; /*made email input box a little bigger*/
    border: 1px solid #ddd; /* made border smaller and lighter*/
    border-radius: 5px;
    font-size: 0.9em;
}

/* slighty changed the look of the text */
.modal p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
}

/* modifies the x, submit, and open modal buttons */
button {
    cursor: pointer; /* not sure if this is necessary because most people will be using this on phones */
    border: none;
    font-weight: 600; /* only changes the submit button text - so can get rid of it*/
}

/* modifies only the submit and open modal buttons so probably can get rid of this whole thing */
.btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

/* only modifies the open modal button so can get rid of it*/
.btn-open {
    position: absolute; /* moves open modal button up to map instead of below */
    bottom: 150px; /* moves this to the bottom of the map */
}

/*modifies the x to close the modal, might get rid of this */
.btn-close {
    transform: translate(330px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;  
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    opacity: 0.5;
    z-index: 3; /* pushes this behind modal but we aren't blurring so not important or necessary */
}

/* hides items that should be hidden */
.hidden {
    display: none;
}

/* */
@media (max-width:600px) {
    .modal {
        min-width: 100px;
    }
}